[user]
	name = Aaron Oman
	email = aaron.oman@gmail.com
	signingkey = FF72573B382DCC43
[color]
	ui = auto
[diff]
	renames = copies
[alias]
	plog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	conflictstyle = diff3
[include]
	path = .gitconfig-local
[commit]
  gpgsign = true
[gpg]
	program = /usr/bin/gpg
[init]
	templateDir = /home/aaron/.git-template
