.vim/bundle/
!.vim/bundle/README
.ghc/*
!.ghc/ghci.conf
.tmux/*
.emacs.d
!.emacs.d/support.el
.tmux/plugins/
.textadept/session
.textadept/session_term
\#*#
.#*
*~
.config/i3/session
.bash.d/mogo-env-vars.sh
.bash.d/acer-aspire-one-env-vars.sh
chruby-version.sh
.bash.d/lendesk-env-vars.sh
.bash.d/system76-oryx-pro-env-vars.sh
chruby-version.sh
.bash.d/wtf-env-vars.sh
.DS_Store
