[user]
	name = Aaron Oman
[color]
	ui = auto
[diff]
	renames = copies
[alias]
	plog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	conflictstyle = diff3
